<!DOCTYPE html>
<html lang="en">
  <head>

	  <title>Vue.js</title>
	  <meta charset="UTF-8"/>

    <!--Vue.js-->
	  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>
  <body>

   <div id="block" v-bind:style="style" v-if="show">

     <b>{{ text }}</b>

     <ul>
   	   <li v-for="list in lists">{{ list.text }}</li>
     </ul>

     <button v-on:click="showMessage">Button</button><br/>

     <input v-model="text"/>

   </div>

   
   <script>

    let vue = new Vue({

      el: "#block",

      data: {
        text: "Hello, world!",
        style: "color: white; font-size: 28px; background: orange; border: 3px solid #000; width: 30%; padding: 20px; margin: 0 auto",
        show: true,
      
        lists: [

          { text: "Vue.js" },

          { text: "React" },

          { text: "AngularJS" }

        ]
        
      },

      methods: {

      	showMessage: function() {
      	  alert("Vue.js");
      	}

      }
   
    });

   	</script>
  </body>
</html>