/* Colors */

button.button-error {
  background-color: #ff0000;
  color: #fff;
}

button.button-error:hover {
  background-color: #cf0000;
}

button.button-error:focus {
  background: rgba(0, 0, 0, 0.0);
  color: #ff0000;
  outline: none;
  border: 3px solid #ff0000; 
  color: #ff0000;
}
    
button.button-success {
  background-color: #00ff00;
  color: #000;
}
    
button.button-success:hover {
  background-color: #00c900;
}

button.button-success:focus {
  background: rgba(0, 0, 0, 0.0);
  outline: none;
  border: 3px solid #00ff00; 
  color: #00ff00;
}

button.button-warning {
  background-color: #ffff00;
  color: #000;
}
    
button.button-warning:hover {
  background-color: #c9c900;
}
     
button.button-warning:focus {
  background: rgba(0, 0, 0, 0.0);     
  outline: none;
  border: 3px solid #ffff00; 
  color: #ffff00;
}

button.button-info {
  background-color: #00ffff;
  color: #000;
}

button.button-info:hover {
  background-color: #00cfcf;
}

button.button-info:focus {
  background: rgba(0, 0, 0, 0.0);
  outline: none;
  border: 3px solid #00ffff; 
  color: #00ffff;
}

button.button-black {
  background-color: #292929;
  color: #fff;
}

button.button-black:hover {
  background-color: #000;
}

button.button-black:focus {
  background: rgba(0, 0, 0, 0.0);
  outline: none;
  border: 3px solid #292929; 
  color: #292929;
}

button.button-white {
  background-color: #fff;
  color: #000;
}

button.button-white:hover {
  background-color: #d1d1d1;
}

button.button-white:focus {
  background: rgba(0, 0, 0, 0.0);
  outline: none;
  border: 3px solid #fff; 
  color: #fff;
  }

button.button-primary {
  background-color: #0000ff;
  color: #fff;
}

button.button-primary:hover {
  background-color: #0000cf;
}

button.button-primary:focus {
  background: rgba(0, 0, 0, 0.0);
  outline: none;
  border: 3px solid #0000ff; 
  color: #0000ff;
}

button.button-secondary {
  background-color: #808080;
  color: #fff;
}

button.button-secondary:hover {
  background-color: #595959;
}

button.button-secondary:focus {
  background: rgba(0, 0, 0, 0.0);
  outline: none;
  border: 3px solid #808080; 
  color: #808080;
}
   
/* Sizes */

button.button-smoll {
  font-size: 20px;
}

button.button-standart {
  font-size: 40px;
}

button.button-big {
  font-size: 60px;
}

/* Shape */
   
button.button-circle {
  border-radius: 50%;
  padding: 25px;
  outline: none;
}

button.button-edge {
  border-radius: 10px;
  outline: none;
}
    
/* State */

button.button-disabled:disabled {
  opacity: 0.3;
}
   
/* Gradient */

button.button-gradient-error {
  background: linear-gradient(to bottom, #fcd9d7, #ff0000);
  color: #fff;
}

button.button-gradient-success {
  background: linear-gradient(to bottom, #d5f7d5, #00ff00);
}

button.button-gradient-warning {
  background: linear-gradient(to bottom, #ffffd9, #ffff00);
}

button.button-gradient-info {
  background: linear-gradient(to bottom, #d6ffff, #00ffff);
}

button.button-gradient-black {
  background: linear-gradient(to bottom, #b5b5b5, #000);
  color: #fff;
}

button.button-gradient-white {
  background: linear-gradient(to bottom, #fff, #bfbfbf);
}

button.button-gradient-primary {
  background: linear-gradient(to bottom, #d6d6ff, #0000ff);
  color: #fff;
}
    
button.button-gradient-secondary {
  background: linear-gradient(to bottom, #bfbfbf, #808080);
  color: #fff;
}